<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- TeamCityDataDir is the path to the TeamCity data directory.
    Usually this is: C:\ProgramData\JetBrains\TeamCity and will have a folder called "config" inside it.
    Leave blank to use the default unless a different folder was set when TeamCity was installed. -->
    <add key="TeamCityDataDir" value="C:\ProgramData\JetBrains\TeamCity" />
    
    <!-- GitConfigName and GitConfigEmail are used as the committer/author details for commits. -->
    <add key="GitConfigName" value="TeamCity Bot" />
    <add key="GitConfigEmail" value="teamcity@domain.com" />
    
    <!-- GitRemoteRepository value will be used as remote origin.
    If set, changes will be pushed to this repo.
    Usually, a value like below can be used (replace username, password, hostname, repository): -->
    <add key="GitRemoteRepository" value="http://username:password@hostname/username/repository.git" />
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>